body {
  margin: auto;
  max-width: 1024px;
  position: relative;
  font-size: 18px;
}

button {
  min-height: 36px;
  padding: 6px 12px;
}

a {
  padding: 6px 12px;
}

.navbar {
  background-color: rgb(50, 50, 50);
  width: 100%;
  padding: 6px 12px;
  box-sizing: border-box;
  position: sticky;
  top: 0px;
  box-shadow: 0px 0px 2px 2px rgba(50, 50, 50, 0.2);
  z-index: 1;
}

.navbar a {
  color: white;
}

.cover {
  width: 100%;
  height: 250px;
  position: relative;
}

.cover::before {
  content: "Pinch or Double Tap Me";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(50, 50, 50, 0.75);
  color: white;
  padding: 6px 12px;
  font-size: 20px;
  width: fit-content;
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content {
  padding: 0px 12px 48px 12px;
}

button.toggle {
  position: fixed;
  bottom: 12px;
  right: 12px;
}
